// ------------------------------------
// Work Sections - General 

.section-head {
    border-bottom: 1px solid $gray-dark;
    position: relative;
    margin-bottom: 1rem;
    height: 4rem;
    &__title {
        width: 50%;
        float: left;
    }
    &__actions {
        padding-top: 1rem;
        margin-left: 50%;
        text-align: right;
    }
}

.search-filters, .custom-modal {
    border-bottom: 1px solid $gray-dark;
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    &__title {
        margin-bottom: .5rem;
        text-align: center;
        font-size: 19px;
        border-bottom: 1px solid $primary;
        padding-bottom: .5rem;
        color: $primary;
    }
    
    .col-3 {
        width: 20%;
        float: left;
        padding: 0 .5rem;
    }
    &__label {
        font-size: 12px;
        font-weight: 600;
        display: block;
        @include ellipsis;
        label { 
            margin-bottom: 0;
            font-weight: 600;
        }
        span.date-label {
            color: $warning;
            margin-left: 1rem;
        }
    }
    &__sub-item {
        font-size: 11px;
        width: 50%;
        float: left;
    }
    &__input {
        display: block;
        margin-bottom: .6rem;
        input { width: 100%; }
        input[type='date'] { line-height: 1; }
        
    }
}
.button-section, .button-section-foot  {
    padding-top: .5rem;
    margin-top: 1.5rem;
    text-align: right;
    bottom: 0;
    right: 0;
    width: 100%;
}
.button-section-foot {
    margin-top: 0;
}