// ------------------------------------
// Data Tables Customized

table.dataTable *,
.dataTables_wrapper  {
    font-size: 12px;
    font-family: 'Lato', Arial, sans-serif;
    select {
        padding: .2rem .3rem;
        font-size: 13px;
    }
}
table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc, 
table.dataTable thead .sorting_asc_disabled, 
table.dataTable thead .sorting_desc_disabled {
    background-color: $gray-lt;
    font-weight: normal;
}
table.dataTable, table.dataTable th {
    padding-top: 10px;
}

@keyframes newRowEven {
    0%   { background-color: #e5e5e5; }
    5%   { background-color: $new-row; color: white; }
    90%  { background-color: $new-row; color: white; }
    100% { background-color: #e5e5e5; }
}
@keyframes newRowOdd {
    0%   { background-color: white; }
    5%  { background-color: $new-row; color: white;}
    90%  { background-color: $new-row; color: white; }
    100% { background-color: white; }
}

table.dataTable.stripe tbody tr.odd, 
table.dataTable.display tbody tr.odd {
    font-size: 12px;
    &.activated {
        animation: newRowOdd 3s ease-in-out !important;
    }
}
table.dataTable.stripe tbody tr.even, 
table.dataTable.display tbody tr.even {
    font-size: 12px;
    &.activated {
        animation: newRowEven 3s ease-in-out !important;
    }
}

// ----------------------------------------------------
// Remove search field
.dataTables_filter, .dataTables_info { display: none; }
// ----------------------------------------------------


table.dataTable.stripe tbody tr.even {
    background-color: darken(#f9f9f9, 8%) !important;
}
table.dataTable.no-footer {
    margin-bottom: 1rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper, .dataTables_wrapper span, .dataTables_wrapper a {
    font-size: 14px;
    font-family: 'Lato', Arial, sans-serif;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #fff !important;
    font-size: 14px;
    font-family: 'Lato', Arial, sans-serif;
}

table.dataTable thead th, 
table.dataTable thead td {
    padding: 7px 10px;
    line-height: 1.4;
}

table.dataTable thead th.no-sort {
    background-color:  $gray-lt;
    font-weight: normal;
}

table.dataTable.row-border tbody th, 
table.dataTable.row-border tbody td, 
table.dataTable.display tbody th, 
table.dataTable.display tbody td {
  width: 6rem;
  overflow:hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
}

input[type="search"] {
    -webkit-appearance: button;
    font-size: 13px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    visibility: hidden;
}

// Row hover: Removed for aesthetics, but may use in future.
// table.dataTable.display tbody tr:hover { 
//     td, td.sorting_1 {  /* or th */
//         background-color: $primary-x-lt !important;
//     }
// }

table.dataTable span.highlight,
table.dataTable span.column_highlight {
    background-color: #8ED6FB;
    border-radius: 0.15rem;
    padding: .2rem .1rem;
    font-size: 13px;
  }


.custom-dt-button {
    position: relative;
}