
body {
  background: $body-bg;
  font-family: Arial, sans-serif;
  margin: 4rem 0;
}
a:link, a:visited, a:hover, a:active {
    line-height: inherit;
    color: #1779ba;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Lato', Arial, sans-serif;
    &:hover {
        color: $primary;
    }
}
.pad-hrz-sm {
    padding: 0 .5rem;
}
header {
    background: $wht;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 1;
 //   box-shadow: 0 6px 12px #ababab;
    box-shadow: 0 19px 15px -12px #ababab;
    @include rem-fallback(padding, 1);
    .logo {
        float: left;
        background: url('../img/logo.jpg') no-repeat;
        background-size: 100px;
        height: 2rem;
        width: 7rem;
        display: block;
        h1 {
            position: absolute;
            left: -99999px;
        }
    }
    .app-name {
        margin-left: 7rem;  
        color: $gray-dark;
        padding-top: .3rem;
    }
}
footer {
    background: $primary;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    
    @include rem-fallback(padding, .5);
    @include rem-fallback(font-size, .75);
  
    .foot-content {
      width: 100%;
      margin: 0 auto;
      color: $wht;
    }
  }

hr {
    width: 85%;
    margin: 0 0 .5rem 0;
}
.receipt-image {
    text-align: center;
}

// ------------------------------------
.custom-container {
    padding: 0 2rem;
    max-width: 100%;
    margin: 3rem auto;
    overflow: auto;
    visibility: hidden;
}
.centered {
    width: 60rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section {
  padding: 2rem;
  box-shadow: 0 8px 20px #ababab;
  width: calc(50% - 2rem);
  height: 10rem;
  margin: 1rem;
  float: left;
  text-transform: uppercase;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: 900;
  transition: transform .2s ease;
  &:hover {
         transform: perspective(500px) translateZ(8px);
  }
  & .sect-icon {
      padding-top: .5rem;
      font-size: 3rem;
      float: left;
      height: 3rem;
      width: 3rem;
  }
  & .sect-title {
    margin-left: 4rem;
  }
  &.sect-1 {
      background-color: $section-1A;
      border: 3px solid $section-1;
      color: $wht;
  }
  &.sect-2 {
    background-color: $section-2A;
    border: 3px solid $section-2;
    color: $wht;
  }
  &.sect-3 {
    background-color: $section-3A;
    border: 3px solid $section-3;
    color: $wht;
  }
  &.sect-4 {
    background-color: $section-4A;
    border: 3px solid $section-4;
    color: $wht;
  }
}